body {
	margin: 0;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
$color-texto: rgb(250, 249, 249);

.header {
	position: sticky ;
	top: 0 ;
	left: 0 ;
	z-index: 1 ;
	display: flex ;
	align-items: center ;
	justify-content: space-between ;
	padding: 1.5rem 3.5rem ;
	background-color: #2f5ce2;
	box-shadow: 0 3px 5px rgb(49, 47, 47) ;
}
.nav {
	background-color: #2f5ce2;
	padding: 10px;
	margin: 50px;
	justify-content: center;
	align-items: center;
	color: $color-texto;
}
.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	min-width: 250px;
	&-carrousel {
		background-color:#222429;
	}
	&-blog {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
		grid-template-areas: 
    		"Paris\,-Francia Londres\,-Inglaterra Roma\,-Italia"
    		"Madrid\,-España Machu-Pichu\,-Peru New-York\,-Estados-Unidos"; 
		&__article {
			background-color: #2f5ce2;
		}
		&__img {
			width: 100%;
			height: 100%;
		}
		&-parrafo {
			margin: 0;
			text-align: center;
			background-color: rgb(49, 47, 47);
			color: white;
		}
	}
}
.Londres\,-Inglaterra { grid-area: Londres\,-Inglaterra; }
.Roma\,-Italia { grid-area: Roma\,-Italia; }
.Madrid\,-España { grid-area: Madrid\,-España; }
.Machu-Pichu\,-Peru { grid-area: Machu-Pichu\,-Peru; }
.New-York\,-Estados-Unidos { grid-area: New-York\,-Estados-Unidos; }
.Paris\,-Francia { grid-area: Paris\,-Francia; }
.background {
	
    background: blue;
}
.text-center {
	text-align: center;
}
.home{
	display: flex;
	flex-wrap: wrap;
	background-color:#222429;
	
}
.text {
	padding: 100px;
	justify-content: left;
	text-align: center;
}
.carousel, .carousel-inner > .item > img {
	width: 50%;
	height: 100%;
	margin: auto;
}

.first {
	grid-area: 1 ;
	margin: 15px;
}
.second {
	grid-area: 1 ;
	margin: 15px;
}
.three {
	grid-area: 1 ;
	margin: 15px;
}
.four {
	grid-area: 2 ;
	margin: 15px;
}
.five {
	grid-area: 2 ;
	margin: 15px;
}
.six {
	grid-area: 2 ;
	margin: 15px;
}
.footer {
	margin-top: 5rem;
	margin-bottom: -1rem;
	display: flex;
	flex-direction: row-reverse;
	width: auto;
	justify-content: center;
	height: 40px;
	background-color: rgb(49, 47, 47);
	color: white;
}
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#1115e9, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background-image: linear-gradient(45deg, #1b18c9, #317FFF);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adaptacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}
.mensaje a {
	color: inherit;
	margin-right: .5rem;
	display: inline-block;
}
.mensaje a:hover {
	color: #309B76;
	transform: scale(1.4)
}
.contact_form{  
	width: 460px; 
	height: auto;
	margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
	background-color: #fbfbfb; 
	padding-left: 30px; 
  }
  
  
  input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #1411cf; 
	margin-top: 10px;  
	padding-left: 10px;
	margin-bottom: 20px; 
  }
  
  
  textarea{
	background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #2d12c9; 
	margin-top: 10px;  
	padding-left: 10px;
	margin-bottom: 20px; 
	padding-top: 15px; 
  }
  
  
  label{
	display: block; 
	float: center;  
  }
  
  
  button-formulario{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px;   
	margin-bottom: 20px; 
	margin-top: 10px;   
	text-transform: uppercase;
	background-color: #2715cf; 
	border-color: #2216c2; 
	border-style: solid; 
	border-radius: 10px;  
	width: 420px;
	text-align: center;  
	cursor: pointer;
  }
  
  
  button p{
	color: #fff; 
  }
  
  
  span{
	color: #3414c5; 
  }
  
  
  .aviso{
	font-size: 13px;  
	color: #0e0e0e;  
  }
  
  
  h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #0e0e0e;
  }
  
  
  h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
  }
  
  
  p{
	font-size: 14px; 
	color: #0e0e0e; 
  }
  
  
  ::-webkit-input-placeholder {
   color: #a8a8a8;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #a8a8a8;
  }
  
  
  .formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
  }
  